@import "bootstrap";
@import url("devise.css");
@import url("users.css");

.user_show{
  margin: 0 auto;
}
.text_box{
  width: 500px;
  margin: 10px;
  border: solid 3px black;
  border-radius: 10px;
}
.user_show{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user_name{
  font-weight: bold;
}