//ユーザー一覧画面
.index_title{
  margin: 50px 0 10px 0;
}

.search{
  width: 350px;
}

.users{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  //border: 1px solid yellow;
  .user_wrap{
    width: 165px;
    //border: 1px solid black;
    margin: 20px 20px;
    padding-bottom: 30px;
  }
}

.user_info_img {
  border: solid 1px rgba(0, 0, 0, 0.300);
  overflow: hidden;
  border-radius: 50%;
  .user_image {
    width: 100%;
    height: 165px;
    object-fit: cover;
  }
}

a:hover img {
  opacity: 0.8;
}

.user_name{
  font-size: 14px;
  margin: 10px 8px 2px;
  text-align: center;
}

.user_comment_box{
  height: 48px;
  border: 1px solid #8ecfd3;
  border-radius: 6px;
  padding: 5px;
  text-align: left;
  font-size: 12px;
  color: #788086;
}

.paginate{
  display: flex;
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #696969;
}
//ユーザー詳細画面